{% extends "base.html" %}
{% block content %}
{% if latest_question_list %}
{% if user.is_staff %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a> </li>
    {% endfor %}
</ul>
    {% else %}
     <p>
         Нет вопросов!
     </p>
{% endif %}
{% if not user.is_staff%}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a> </li>
    {% endfor %}
</ul>
    {% else %}
     <p>
         Нет вопросов!
     </p>
{% endif %}
{% endif %}
{% endblock %}